{% extends 'code_reaper/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'code_reaper/game.css' %}" />
{% endblock %}

{% block content %}
    <div id="result">
      <div id="steps" class="result">0</div>
      <div class="result">ruchów</div>
    </div>
    <div id="board">
    	{% for f in fields %}
        {% if f.row == 0 and f.column == 0 %}
          <div class="field col{{f.color}} r{{f.row}} c{{f.column}} active done"></div>
        {% else %}
          <div class="field col{{f.color}} r{{f.row}} c{{f.column}}"></div>
        {% endif %}
      {% endfor %}
    </div>

    <div id="colors">
      {% for c in colors %}
      <div class="color col{{c}}"></div>
      {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'code_reaper/game.js' %}"></script>
{% endblock %}