{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" async src="{% static 'code_reaper/syntaxhighlighter.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'code_reaper/theme.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'code_reaper/task.css' %}" />

<!-- {% if latest_question_list %} 
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/code_reaper/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->
<!-- {% for line in line_list %}
	<div class="form-check">
    	<input class="check-input" type="checkbox" value="" checked>
    </div>
{% endfor %}
 -->
<pre id="code" class="brush: java;">
package tutorial;

import com.opensymphony.xwork2.ActionSupport;

public class HelloWorld extends ActionSupport {
  private String name;
  public String getName() {
	return name;
  }
  public void setName(String name) {
      this.name = name;
  }
  public String execute() {
      name = &#34;Hello, &#34; + name + &#34;!&#34;;
      return SUCCESS;
  }
}
</pre>

<button class="start">START</button>

<script type="text/javascript" src="{% static 'code_reaper/script.js' %}"></script>