{% extends 'code_reaper/base.html' %}

{% load static %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'code_reaper/theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'code_reaper/task.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'code_reaper/timer.css' %}" />
{% endblock %}

{% block content %}
    <!-- Start Modal -->
    <div class="modal fade" id="startModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Zaczynamy!</h5>
          </div>
          <div class="modal-body">
            Po kliknięciu <b>Start!</b> zacznie się odmierzać czas. Na zadanie masz 2 minuty.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary start" data-dismiss="modal">Start!</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Finish Modal -->
    <div class="modal fade" id="finishModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Dziękuję! Dobra robota!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <p>
              Zdobywasz <span class="modal_text" id="got_points"></span> punktów!
              W sumie masz <span class="modal_text" id="all_points"></span> punktów.
              Aby zdobyć następny level, potrzebujesz <span class="modal_text" id="to_next_level"></span> punktów.
            </p>
            <p id="new_level">
              Masz teraz <span class="modal_text" id="level"></span> level!
              Dostajesz <span class="modal_text" id="wheat"></span> kłosów!
            </p>
          </div>
          <div class="modal-footer">
            <a href="{% url 'task' %}" class="btn btn-secondary" id="next_task">
              Następne zadanie
            </a>
          </div>
        </div>
      </div>
    </div>

    <form id="task" action="{% url 'gray_out' function.id  %}" method="post">
        {% csrf_token %}
       <!-- timer -->
        <div class="container" id="clock">
            <div class="row">
                <div id="timer" class="col-md-3 col-sm-6">
                    <div class="progress yellow">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value"><span id="time">02:00</span></div>
                        <input type="hidden" id="time_input" name="time" value="120"/>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div id="timer">Pozostało <span id="time">02:00</span></div> -->
        <pre id="code" class="brush: java;">{{function.body}}</pre>

        <div id="bottom_buttons">
            <!-- <button class="start">Start</button> -->
            <button class="btn btn-secondary save bottom">Zapisz</button>
            <!-- <button type="button" class="btn btn-secondary start">Save</button> -->
            <!-- <a href="{% url 'task' %}" id="next" class="btn btn-primary bottom">Next</a> -->
        </div>
    </form>
{% endblock %}

{% block script %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script type="text/javascript" async src="{% static 'code_reaper/syntaxhighlighter.js' %}"></script>
    <script type="text/javascript" src="{% static 'code_reaper/task.js' %}"></script>
{% endblock %}