{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Żniwiarz kodu</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'code_reaper/user.css' %}" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"> -->

  </head>

  <body>

  	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

		<div id="user" class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-radius: 16px;">
							<div class="well profile col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
									<div class="span2" >
							    	<img src="https://secure.gravatar.com/avatar/de9b11d0f9c0569ba917393ed5e5b3ab?s=140&r=g&d=mm" class="img-circle">
					        </div>
									<h5 style="text-align:center;"><strong id="user-name">Arun Kumar Perumal</strong></h5>
									<p style="text-align:center;font-size: smaller;" id="user-frid">FBT000000213 </p>
									<p style="text-align:center;font-size: smaller;overflow-wrap: break-word;" id="user-email">arunkumarperumal8791@gmail.com </p>
									<p style="text-align:center;font-size: smaller;"><strong>A/C status: </strong><span class="tags" id="user-status">Active</span></p>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
									<p style="text-align:center;font-size: smaller;"><strong>Job role</strong></p>
									<p style="text-align:center;font-size: smaller;" id="user-role">Software Engineer</p>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider text-center"></div>
									<div id="ranking">
										<div class="col-lg-6 left ranking" style="text-align:center;overflow-wrap: break-word;">
											<h4><p style="text-align: center;"><strong id="user-globe-rank">245 </strong></p></h4>		   
											<p><small class="label label-success">Ranking Żniwiarzy</small></p>
												<!--<button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>-->
										</div>
										<div class=" col-lg-6 left ranking" style="text-align:center;overflow-wrap: break-word;">
											<h4><p style="text-align: center;"><strong id="user-college-rank">245 </strong></p></h4>				   
											<p> <small class="label label-warning">Ranking Graczy</small></p>
												<!-- <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</body>

</html>
