# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# python binary files
*.pyc

# some not needed files
TEST-com.mycompany.app.AppTest.xml
com.mycompany.app.AppTest.txt
syntaxhighlighter/syntaxhighlighter
db.sqlite3
.metadata/
FreeCol/
FreeCol_files/
id-rsa
#code/my-app/functions/
code/my-app/random/
