div.field {
	width: 20px;
	height: 20px;
	display: inline-grid;
	vertical-align: top;
}

div#board {
	width: 364px;
	height: 364px;
	margin: auto;
}

div#result {
	width: 55px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 10px;
}

div#steps {
	font-size: 40px;
}

div.result {
	text-align: center;
}

div.color {
	width: 40px;
	height: 40px;
	display: inline-block;
}

div#colors {
	width: 300px;
	text-align: center;
	margin: auto;
	margin-top: 30px;
}

div.col1 {
	background: /*#edc951;*//* #F8B195;*/khaki; /*#ee4035;*/

}

div.col2 {
	background: /*#eb6841;*//*#F67280;*/salmon;
}

div.col3 {
	background: /*#cc2a36;*//*#C06C84;*/#0392cf; /*#edc951;*/
}

div.col4 {
	background: /*#4f372d;*//*#6C5B7B;*/#7bc043;
}

div.col5 {
	background: /*#00a0b0;*//*#355C7D;*/#843b62;
}

div.col6 {
	background: /*#476c8a;*//*#2A363B;*/#cc2a36; /*#f37736;*/
}