body {
        background-color: gainsboro;
}

#rectangle {
    width: 400px;
    margin: auto;
    background-color: cornsilk;
    text-align: center;
    padding: 30px;
    margin-top: 150px;
}

.social {
    margin: 2px;
    padding: 5px;
}
#facebook {
    background-color: #3b5998;
}

#google {
    background-color: #dd4b39;
}

#twitter {
    background-color: #55acee;
}

#github {
    background-color: #000000;
}

a {
    color: white;
    width: inherit;
}

a:hover {
    text-decoration: none;
    color: gray;
}

form {
    margin: 30px;
}

.submit-button {
    background: cadetblue;
    border: none;
    padding: 5px 20px 5px 20px;
    color: white;
    border-radius: 3px;
}

.submit-button:hover {
    background: lightblue;
}