{% extends 'code_reaper/base.html' %}

{% load static %}

{% block css %}
<link href="{% static 'code_reaper/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="rectangle">

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link {% if not sign_active %} show active {% endif %}" id="nav-home-tab" data-toggle="tab" href="#nav-login" role="tab" aria-controls="nav-home" aria-selected="true">Logowanie</a>
        <a class="nav-item nav-link {{sign_active}}" id="nav-profile-tab" data-toggle="tab" href="#nav-register" role="tab" aria-controls="nav-profile" aria-selected="false">Rejestracja</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade {% if not sign_active %} show active {% endif %}" id="nav-login" role="tabpanel" aria-labelledby="nav-home-tab">
        <form method="post" action="{% url 'login' %}">
          <span class="err">{{login_error}}</span>
          {% csrf_token %}
          {% trans login_form.as_p %}
          <button class="submit-button" type="submit">Zaloguj</button>
        </form>
      </div>
      <div class="tab-pane fade {{sign_active}}" id="nav-register" role="tabpanel" aria-labelledby="nav-profile-tab">
        <form class="sa-innate-form" method="post" action="{% url 'signup' %}">
          {% csrf_token %}
          {% trans sign_form.as_p %}
          <button class="submit-button" type="submit">Zarejestruj</button>
        </form>
      </div>
    </div>

    <div id="github" class="social">
      <a href="{% url 'social:begin' 'github' %}">Zaloguj używając GitHub</a>
    </div>
    <div id="twitter" class="social">
      <a href="{% url 'social:begin' 'twitter' %}">Zaloguj używając Twitter</a>
    </div>
    <div id="facebook" class="social">
      <a href="{% url 'social:begin' 'facebook' %}">Zaloguj używając Facebook</a>
    </div>
    <div id="google" class="social">
      <a href="{% url 'social:begin' 'google-oauth2' %}">Zaloguj używając Google</a>
    </div>
  </div>
{% endblock %}

{% block script %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}