{% extends 'code_reaper/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'code_reaper/games.css' %}" />
{% endblock %}

{% block content %}
    <div id="panel">
 
        <div id="title">
            Instrukcja
        </div>
        <div id="content">
            <p>Zdobyte kłosy możesz wydać na rozgrywkę na jednej z szesnastu planszy.</p>
            <p>Każda plansza składa się z 225 kwadratów ułożonych w 15 wierszach i 15 kolumnach. Każdy kwadrat jest pokolorowany na jeden z 6 kolorów. Na początku Twoje terytorium obejmuje lewy górny róg.</p>
            <p>W każdym ruchu możesz je powiększyć wybierając odpowiedni kolor z dolnego panelu. Kwadraty w wybranym kolorze, które sąsiadują z Twoim terytorium, zostaną do niego przyłączone.</p>
            <p>Koniec gry nastąpi, gdy przejmiesz cały dostępny teren. Postaraj się to zrobić w jak najmniejszej liczbie ruchów!</p>
            <div id="board_images">
              <img class="board" src="{% static 'code_reaper/images/board.png' %}">
              <img class="board" src="{% static 'code_reaper/images/move.png' %}">
            </div>
        </div>
     
    </div>

    <div id="resources">
      <div class="wheat">
        <div class="line">{{wheat}}</div>
        <img class="line" src="{% static 'code_reaper/images/wheat.png' %}">
      </div>
    </div>
    <div id="games">
    	{% for g in games %}
        {% if g.cost|length > wheat %}
          <div class="game gray">
        {% else %}
          <div class="game">
        {% endif %}
            <div class="cost">
              {% for c in g.cost %}
                {% if g.cost|length > wheat %}
                  <img class="line wheat" src="{% static 'code_reaper/images/wheat_gray.png' %}">
                {% else %}
                  <img class="line wheat" src="{% static 'code_reaper/images/wheat.png' %}">
                {% endif %}
              {% endfor %}
            </div>
            <div class="game_nr">
              <form action="{% url 'game' %}" method="post">
                {% csrf_token %}
                <input type="submit" name="nr" value="{{g.nr}}" />
              </form>
            </div>
            <div>
              {% if g.cost|length > wheat %}
                <img class="line trophy" src="{% static 'code_reaper/images/star_gray.png' %}">
              {% else %}
                <img class="line trophy" src="{% static 'code_reaper/images/star.png' %}">
              {% endif %}
              <div class="line">{% if g.result %} {{g.result}} {% else %} ? {% endif %}</div>
            </div>
          </div>
      {% endfor %}
    </div>
    <div class="small">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

{% endblock %}

{% block script %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{% endblock %}