<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SyntaxHighlighter</title>
  <script type="text/javascript" src="syntaxhighlighter.js"></script>
  <link type="text/css" rel="stylesheet" href="theme.css">
  <style type="text/css">
    body {
      background: white;
      font-family: helvetica;
    }
  </style>
</head>

<body>
<h1>SyntaxHighlighter v4.0.1</h1>



<h1 style="border-bottom: 2px solid black;">java</h1>
<pre class="brush: java;">
package tutorial;

import com.opensymphony.xwork2.ActionSupport;

public class HelloWorld extends ActionSupport {
  private String name;
  public String getName() {
  return name;
  }
  public void setName(String name) {
      this.name = name;
  }
  public String execute() {
      name = &#34;Hello, &#34; + name + &#34;!&#34;;
      return SUCCESS;
  }
}
</pre>



</html>