div#resources {
	margin-top: 70px;
}

div#games {
	width: 425px;
	height: 425px;
	margin: auto;
}

div.game {
	margin-top: 2px;
	margin-bottom: 2px;
	width: 100px;
	height: 100px;
	display: inline-grid;
	border-radius: 10px;
	border: 2px solid gold;
	color: darkcyan;
}

div.game.gray {
	border: 2px solid gray;
}

div.wheat {
	font-size: 40px;
	margin: auto;
	width: 200px;
	border: 5px solid gold;
    border-radius: 20px;
    text-align: center;
    color: gold;
    padding: 15px;
    margin-bottom: 20px;
}

img {
	text-align: right;
}

.line {
	display: inline-block;
}

.small {
	font-size: 5px;
}

img.wheat {
	height: 20px;
	width: 20px;
}

img.trophy {
	height: 20px;
	margin-bottom: 5px;
}

div.game > div {
	text-align: center;
}

div.cost {
	padding-top: 2px;
	background: darkcyan;
    border-radius: 7px;
    border: 1px solid darkcyan;
}

.game_nr > form > input {
	height: 30px;
	font-size: 25px;
	text-align: center;
	color: darkcyan;
	background: none;
    border: none;
    width: 90px;
    outline:none;
}


#panel {
    position: fixed;
    top: 50px;
    right: -435px;
    z-index: 99999;
    transition: right 0.5s ease-out 0s;
}
 
#panel:hover {
    right: 0;
}
 
#panel #content {
    width: 430px;
    height: 500px;
    padding: 10px;
    border-top: 2px solid gold;
    border-right: none;
    border-bottom: 2px solid gold;
    border-left: 2px solid gold;
    z-index: 20;
    background: #FFFFFF;
    position: relative;
    border-radius: 10px 0 0 10px;
    font-size: 14px;
    text-align: justify;
}
 
#panel #title {
    width: 150px;
    border: 2px solid gold;
    background: gold;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 5px 25px 5px;
    text-align: center;
    position: relative;
    top: 140px;
    left: -90px;
    transform: rotate(-90deg);
    z-index: 1;
}

#board_images {
	display: inline-block;
}
.board {
	height: 200px;
}